<div class="example-container mat-elevation-z8">
  <h2 class="stock-projection">Stock Projection</h2>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="button-row">
    <div align="end">
      <a mat-flat-button color="primary" (click)="onNextDay()">Next Day</a>
    </div>
  </div>
  <div class="button-row">
    <mat-card style="text-align:right">Day: {{ day }} | {{ simulatedDate | date:'EEEE, LLLL dd, yyyy' }}</mat-card>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let row">{{row.symbol}}</td>
      </ng-container>

      <!-- Initial Value Column -->
      <ng-container matColumnDef="inital_value">
        <th mat-header-cell *matHeaderCellDef>Initial Value</th>
        <td mat-cell *matCellDef="let row">{{row.price | currency:'USD':'symbol-narrow':'2.2-2'}}</td>
      </ng-container>

      <!-- Current Value Column -->
      <ng-container matColumnDef="current_value">
        <th mat-header-cell *matHeaderCellDef>Current Value</th>
        <td mat-cell *matCellDef="let row">{{row.current_value | currency:'USD':'symbol-narrow':'2.2-2'}}</td>
      </ng-container>

       <!-- change in value Column -->
       <ng-container matColumnDef="change_in_value">
        <th mat-header-cell *matHeaderCellDef>Change In Value</th>
        <td mat-cell *matCellDef="let row">{{row.absolute_change | currency:'USD':'symbol-narrow':'1.2-2'}}, {{row.percentage_of_change}}%</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>